# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# Build Artifacts
App/dist/
App/build/

# Release Builds
Releases/

# Development
docs/todo.txt
docs/RELEASE.md